:root {
  --primary-text-color: #1F2B3A;

  --grey: #F6F6FD;
  --green: #02972F;
  --red: #F44336;
  --blue: #0560af;
  --coffee: #333;
  --white: #FAFAFA;

  --inter-font: "Inter", sans-serif;
  --roboto-font: "Roboto", sans-serif;
  --afacad-font: "Afacad", sans-serif;
  
}

*,
*::before,
*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;

  background-image:url('background.png') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* Navbar Style */

#navbar {
  width: 80px;
  max-height: 1080px;
  height: 90vh;
  
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  
  align-items: center;
  justify-content: space-between;

  padding: 24px 0;
  margin: 1% 16px 1% 32px;
  
  background-color: var(--grey);
  
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#nav-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-frame img  {
  width: 34px;
  height: 34px;
  background-color: var(--coffee);
  margin-bottom: 32px;
}

#navbar li {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 16px;
  
  padding: 12px;
  margin: 4px;
}

#navbar li:hover {
  background-color: #E8E8F0;
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

#navbar li span {
  color: #272D43;
}

#navbar li:hover span {
  color: #0087FF;
  transition: 0.3s;
}

#navbar #nav-fotter hr {
  margin: 16px 1px;
}

.nav-selected {
  box-shadow: inset 4px 4px 10px #0088ff4b;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  background-color: hsla(208, 100%, 50%, 0.1);
}

.nav-selected span {
  color: #0087FF !important;
}


/* Page style */

#page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 48px;
  margin-right: 24px;
}

#page-title {
  margin-bottom: 36px;
  color: var(--primary-text-color);
  font-family: var(--inter-font);
  font-weight: 600;
  text-align: left;
}

#dash-add-transaction-button {
  display: flex;
  max-width: fit-content;
  
  margin-bottom: 32px;
  
  padding: 0.75rem 1.5rem 0.75rem 1rem;

  border: none;
  border-radius: 0.5rem;
  background-color: var(--green);
  
  color: white;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  align-items: center;
  
  gap: 0.75rem;
  box-shadow:
    0 4px 6px -1px #488aec31,
    0 2px 4px -1px #488aec17;
  transition: all 0.6s ease;
}

#dash-add-transaction-button:hover {
  box-shadow:
  0 10px 15px -3px #48ec6e4f,
  0 4px 6px -2px #488aec17;
}

#dash-add-transaction-button:focus,
#dash-add-transaction-button:active {
  opacity: 0.85;
  box-shadow: none;
}

#dash-add-transaction-button span {
  font-size: 1.4rem;
}


/* Dashboard Accounts */
#dash-acconts-div {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  height: auto;
  align-items: center;
  margin: 0 0 14px 0;
  gap:14px;

  max-width: 90vw;
  height: auto;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #bbb transparent;
}

#cards-container::-webkit-scrollbar {
  height: 8px;
}

#cards-container::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

#cards-container::-webkit-scrollbar-track {
  background: transparent;
}

#dash-add-new-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  min-width: 200px;
  height: 130px;
  border: 3px dashed rgb(91, 91, 91);
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.02);
}

#dash-add-new-card p {
  color: var(--coffee);
  font-family: var(--roboto-font);
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}

#dash-add-new-card:hover {
  cursor: pointer;
  border-color: black;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#dash-add-new-card:hover p {
  color: var(--coffee);
}



/* Card Style */
 
.card {
  position: relative;
  width: 200px;
  min-width: 200px;
  padding: 16px;
  border-radius: 12px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-painted-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-radius: 12px 12px 0 0;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  z-index: 0;

  background-color: orange; /* EXAMPLE, REMOVE LATER*/
}

.card-painted-section span {
  color: white;
  display: flex;
  align-items: center;
}

.card-name {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-left: 8px;
}

.card-painted-section .menu-button {
  margin-left: auto; /* Empurra o botão para a direita */
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.card-painted-section .menu-button:hover {
  opacity: 0.8;
}

.card-elements {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1; 
  margin-top: 40px;
}

.card-balance {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: var(--coffee);
}

.card-transferences {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: var(--coffee) transparent;
}



/* BOTTOM ITENS */

#dash-main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 12px;
}

#dash-left-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}

.grid {
  flex: 1 1 30%;
}

#dash-incomes-expenses-div{
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin: 0;
}

.balance-div {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--white);
  width: fit-content;
  width: 100%;
  padding: 12px;
  
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.balance-div > span {
  font-family: var(--afacad-font);
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: max-content;

}

.balance-div > span label {
  padding: auto;
  font-size: 18px;
  white-space: nowrap;
  margin: 0 8px;
}

.balance-div > p {
  font-family: var(--inter-font);
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0 12px 4px;
}

.balance-div .net-worth {
  color: var(--blue);
}

.balance-div .incomes {
  color:var(--green);
}

.balance-div .expenses {
  color: var(--red);
}

.incomes-range {
  background-color: var(--green);
}

.expenses-range {
  background-color: var(--red);
}

.net-worth-range {
  background-color: var(--blue);
}

.balance-div hr {
  height: 8px;
  border-radius: 8px;
  width: 100%;
}



#dash-graph-div{
  background-image: url('placeholder.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;

  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
}


.category-expenses-div {
  flex-grow: 1;
  min-width: 480px;
  background-color: var(--white);

  padding: 12px 12px 12px 14px;

  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.category-expenses-div > h5 {
  font-family: var(--afacad-font);
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 12px 0;
}

.category-frame-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 348px;

  scrollbar-width: thin;
  scrollbar-color: #bbb transparent;
}

.category-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category-minibox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: var(--inter-font);
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  margin: 0 0 0 4px;
}

.expense-type {
  font-family: var(--inter-font);
  font-size: 16px;
  margin: 0 12px 0 0;
}

.category-minibox i {
  background-color: rgba(128, 128, 128, 0.397);
  padding: 8px;
  border-radius: 8px;
}

.expense-value {
  font-family: var(--inter-font);
  color: var(--red);
  font-weight: bold;
  font-size: 16px;
  margin-right: 12px;
}




#dash-transactions-div {
  width: auto;
  min-width: 412px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  background-color: var(--white);
}







/*  Menu bar style  */
.component-title {
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 30px;
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #888;
  text-align: center;
  }
  
.tab-container {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: 2px;

  background-color: #dadadb;
  border-radius: 9px;
}

.indicator {
  content: "";
  width: 33%;
  height: 28px;
  background: #ffffff;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 9;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  transition: all 0.2s ease-out;
}

.tab {
  width: 33%;
  height: 28px;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.tab_label {
  width: 33%  ;
  height: 28px;

  position: relative;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;

  font-size: 0.75rem;
  opacity: 0.6;

  cursor: pointer;
}

.tab--1:checked ~ .indicator {
  left: 2px;
}

.tab--2:checked ~ .indicator {
  left: calc(33% + 2px);
}

.tab--3:checked ~ .indicator {
  left: calc(33% * 2 + 5px);
}